/* Styling variables */
:root{
  --black: #202426;
  --white: #ffffff;
  --light-white: #f4f4f4;
  --lighter-white: #e9e9e9;
  --ashy: #e0e0e0;

  --icon-gray: #383838;
  --grey: #8697a2;
  --light-grey: #e2e6e9;
  --lighter-grey: #f5f5f5;

  --purple: #4e46b4;

  --mint: #57CBAB;
  --light-mint: #9AE1CD;
  --lighter-mint: #C5EDE2;
  --lightest-mint: #E0F6F0;
  --matte-mint: #8AC9B8;

}

/* [HEADBAR] Style for the headbar */
.headbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-white);
  border-radius: 5px; /* rounds the corners of the border */
  height: 60px;
  padding: 10px;
}

/* [HEADBAR] Style for the logo */
.logo img {
  height: 40px;
  
  border-radius: 7px; /* rounds the corners of the border */
}

/* [HEADBAR] Style for the navigation links */
.headbarNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* make the list items ordered horizontally */
}

.headbarNav li {
  margin-right: 80px;
}
/* [HEADBAR] last child stays centered in link list*/
.headbarNav li:last-child {
  margin-right: 0;
}

 /* [HEADBAR] link styling */
.headbarNav a {
  text-decoration: none;
  color: var(--icon-gray);
  font-weight: bold;
}

/* [HEADBAR-2] Style for the navigation links */
.headbarNav2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* make the list items ordered horizontally */
}

.headbarNav2 li {
  margin-right: 90px;
}
/* [HEADBAR-2] last child stays centered in link list*/
.headbarNav2 li:last-child {
  margin-right: 0;
}

 /* [HEADBAR-2] link styling */
.headbarNav2 a {
  text-decoration: none;
  color: var(--icon-gray);
  font-weight: bold;
}

/* [HEADBAR] Style for the account link */
.headbarAcct a {
  text-decoration: none;
  color: var(--icon-gray);
  font-weight: bold;
}

/* [HEADBAR] central three buttons */ 
.headbarButton {
  background-color: var(--mint); /* Set the background color */
  border: none; /* Remove the border */
  color: white; /* Set the text color */
  padding: 10px 25px; /* Set the padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove the underline */
  display: inline-block; /* Make it an inline element */
  font-size: 16px; /* Set the font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Add a cursor on hover */
  border-radius: 20px; /* Curves corners of buttons */
}

/* [HEADBAR] [PROFILE] profile icon defaul */
.profileIcon{
  width: 40px;
}

/* [HEADBAR] [PROFILE] Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* [HEADBAR] [PROFILE] Dropdown content (hidden by default) */
.dropdown-content {
  font-size: 13px;
  white-space: nowrap;
  display: none;
  position: absolute;
  z-index: 1;
}

/* [HEADBAR] [PROFILE]  Links inside the dropdown */
.dropdown-content a {
  color: var(--icon-gray);
  display: inline-block;
  padding: 6px 2px;
  text-decoration: none;
  display: block;
}

/* [HEADBAR] [PROFILE]  Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: var(--mint);
}

/* [HEADBAR] [PROFILE]  Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



body{
  background-color: var(--lightest-mint);

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--grey);
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 20px;
}