/* Styling variables */
:root{
  --black: #202426;
  --white: #ffffff;
  --light-white: #f4f4f4;
  --lighte-white: #f5f5f5;
  --lighter-white: #e9e9e9;
  --ashy: #e0e0e0;

  --icon-gray: #383838;
  --grey: #8697a2;
  --light-grey: #e2e6e9;
  --lighter-grey: #f5f5f5;

  --purple: #4e46b4;

  --mint: #57CBAB;
  --light-mint: #9AE1CD;
  --lighter-mint: #C5EDE2;
  --lightest-mint: #E0F6F0;
  --matte-mint: #8AC9B8;

}


/* ---------------------------------------------------------- */


/* [HEADBAR] Style for the headbar */
.headbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-white);
  border-radius: 5px; /* rounds the corners of the border */
  height: 60px;
  padding: 10px;
}

/* [HEADBAR] Style for the logo */
.logo img {
  height: 40px;
  
  border-radius: 7px; /* rounds the corners of the border */
}

/* [HEADBAR] Style for the navigation links */
.headbarNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* make the list items ordered horizontally */
}

.headbarNav li {
  margin-right: 80px;
}
/* [HEADBAR] last child stays centered in link list*/
.headbarNav li:last-child {
  margin-right: 0;
}

 /* [HEADBAR] link styling */
.headbarNav a {
  text-decoration: none;
  color: var(--icon-gray);
  font-weight: bold;
}

/* [HEADBAR-2] Style for the navigation links */
.headbarNav2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* make the list items ordered horizontally */
}

.headbarNav2 li {
  margin-right: 90px;
}

/* [HEADBAR-2] last child stays centered in link list*/
.headbarNav2 li:last-child {
  margin-right: 0;
}

 /* [HEADBAR-2] link styling */
.headbarNav2 a {
  text-decoration: none;
  color: var(--icon-gray);
  font-weight: bold;
}

/* [HEADBAR] Style for the account link */
.headbarAcct a {
  text-decoration: none;
  color: var(--icon-gray);
  font-weight: bold;
}

/* [HEADBAR] central three buttons */ 
.headbarButton {
  background-color: var(--mint); /* Set the background color */
  border: none; /* Remove the border */
  color: white; /* Set the text color */
  padding: 10px 25px; /* Set the padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove the underline */
  display: inline-block; /* Make it an inline element */
  font-size: 16px; /* Set the font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Add a cursor on hover */
  border-radius: 20px; /* Curves corners of buttons */
}

/* [HEADBAR] [PROFILE] profile icon defaul */
.profileIcon{
  width: 40px;
}

/* [HEADBAR] [PROFILE] Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* [HEADBAR] [PROFILE] Dropdown content (hidden by default) */
.dropdown-content {
  font-size: 13px;
  white-space: nowrap;
  display: none;
  position: absolute;
  z-index: 1;
}

/* [HEADBAR] [PROFILE]  Links inside the dropdown */
.dropdown-content a {
  color: var(--icon-gray);
  display: inline-block;
  padding: 6px 2px;
  text-decoration: none;
  display: block;
}

/* [HEADBAR] [PROFILE]  Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: var(--mint);
}

/* [HEADBAR] [PROFILE]  Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



/* ---------------------------------------------------------- */


/* [WANDERWISE BANNER] */
.banner {
  width: 140px;
  margin: 0 auto;
  background-color: var(--icon-gray);
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
}



/* ---------------------------------------------------------- */


/* [SIGNUP FORM] */ 
.signup-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.signup-form {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

.signup-div h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--icon-gray);
}


/* ---------------------------------------------------------- */



/* [LOGIN FORM] */ 
.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

.login-div h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--icon-gray);
}


/* ---------------------------------------------------------- */

/* [LOGIN + SIGNUP] */
label {
  text-align: center;
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
  color: var(--icon-gray);
}

/* Input boxes */ /*
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 97.5%;
  padding: 6px;
  margin-bottom: 15px;
  font-size: 1.2em;
  border-radius: 5px;
  border-color: var(--lighter-grey);
  border-width: 1px;
  background-color: white;
}
*/
.login-text,
.login-email,
.login-password {
  display: block;
  width: 97.5%;
  padding: 6px;
  margin-bottom: 15px;
  font-size: 1.2em;
  border-radius: 5px;
  border-color: var(--lighter-grey);
  border-width: 1px;
  background-color: white;
}

/* form submit button */
input[type="submit"]{
  margin-left: 218px;
  background-color: var(--ashy);
  color: var(--icon-gray);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

/* form reset button */
input[type="reset"] {
  background-color: var(--ashy);
  color: var(--icon-gray);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: var(--lighter-white);
}


/* ---------------------------------------------------------- */


/* [MAIN BACKGROUND] */
body{
  background-color: var(--lightest-mint);

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--grey);
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 20px;
}


/* ---------------------------------------------------------- */

/* [FORUM - Generated [4/16/23] currently broken*/

/* [FORUM title] */
#forum-title {
  text-align: center;
}

#forum-button-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* [FORUM] Create New Post Button */
#createPostBtn {
  font-size: 12px;
  text-decoration: none;
  border: none;
  background-color: var(--mint);
  color: var(--icon-gray);
  margin-bottom: 8px;
  padding:4px;
  border-radius: 12px;
}

#createPostBtn:hover {
  padding:6px;
  margin-bottom: 4px;
  border-radius: 12px;
}

#date-posted-forum {
  font-size: 16px;
  color: var(--matte-mint);
  margin-left: auto;
}

/* Style your postContainer as desired */
#postContainer {
	border: 1px solid var(--mint);
	padding: 10px;
  background-color: var(--light-white);
  border-radius: 5px;
}

#postContainer hr {
	border-color: var(--lighter-mint);
}

.post {
	margin-bottom: 10px;
  color: var(--icon-gray);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline; /* this will align the elements at the baseline */
}

.post-title{
  margin: 0;
  text-decoration: underline;
  font-weight: bold;
}

.post-timestamp{
  margin-left: auto;
  color: var(--grey);
}
